.avatars {
  padding: 60px 1rem;
  width: 100%;
}

.avatars h2 {
  margin-bottom: 32px;
}

.cta {
  display: flex;
  justify-content: center;
  padding: 0 1rem;
}

@media (max-width: 640px) {
  .avatars {
    padding: 40px 1rem;
  }
}
