.avatars {
  padding: 80px 0;
}

.avatars h2 {
  margin-bottom: 32px;
}

.cta {
  display: flex;
  justify-content: center;
}

.avatars img {
  border-radius: var(--border-radius);
}

@media (max-width: 628px) {
  .avatars img {
    width: 130px;
    height: 130px;
  }
}

.button {
  padding: 18px 46px;
  background: var(--button-background);
  color: var(--white-color);
  border-radius: var(--border-radius);
  font-weight: bold;
  border: 2px solid transparent;
}

.button:hover {
  background: var(--button-background-hover);
  border-color: var(--button-dark-hover);
  color: var(--button-dark-hover);
  transition: all 150ms ease-in-out;
}
