/* .avatars {
  padding: 50px 0;
} */

/* .avatars img {
  border-radius: var(--border-radius);
} */

/* @media (max-width: 628px) {
  .avatars img {
    width: 130px;
    height: 130px;
    sm:w-[250px] sm:h-[250px]
  }
} */

/* .button {
  padding: 18px 46px;
  background: var(--button-background);
  color: var(--white-color);
  border-radius: var(--border-radius);
  font-weight: bold;
} */

/* .button:hover {
  background: var(--button-background-hover);
  border: 2px solid var(--button-dark-hover);
  color: var(--button-dark-hover);
  transition: all 150ms ease-in-out;
} */
