{
  "arrowParens": "always",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "printWidth": 100,
  "singleQuote": false,
  "tabWidth": 2,
  "useTabs": false,
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react$",
    "^next/(.*)$",
    "app/(.*)$",
    "",
    "^@vercel/(.*)$",
    "<BUILTIN_MODULES>",
    "<THIRD_PARTY_MODULES>",
    "^@fortawesome/(.*)$",
    "",
    "^@/components/(.*)$",
    "",
    "^@/lib/(.*)$",
    "",
    "<TYPES>",
    "^@/types/(.*)$",
    "",
    "^[.]",
    "",
    "^(?!.*[.]css$)[./].*$",
    ".css$"
  ]
}
