.logoContainer {
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
}

@media (prefers-color-scheme: dark) {
  .logo path {
    fill: var(--white-color);
  }
}

.home {
  text-align: center;
  margin: 100px 0;
  padding: 0 1.25rem;
}

.description p {
  margin: 0 auto;
  padding: 12px 0 48px;
  max-width: 500px;
}

@media (max-width: 550px) {
  .home {
    margin: 56px 0 80px;
    padding: 0 1rem;
  }
}
