/* .logoContainer {
  margin-bottom: 24px;
} */

/* @media (prefers-color-scheme: dark) {
  .logo path {
    fill: var(--white-color);
  }
} */

/* .home {
  margin: 100px 0;
} */

/* .description p {
  margin: 0 auto;
  padding: 12px 0 48px;
  max-width: 500px;
} */

/* @media (max-width: 550px) {
  .home {
    margin: 70px 0px 100px;
  }
} */
