.wrapper {
    padding: 5rem 0;
    min-height: 100vh;
}

.center {
    text-align: center;
    padding: 2rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0;
}

.description p {
    margin: 0 auto;
    padding: 12px 0 12px;
    max-width: 500px;
}


/* Mobile and Tablet */
@media (max-width: 1023px) {
    .container::before {
        transform: none;
        height: 300px;
    }
}
