.nav {
  justify-content: space-between;
  font-weight: bold;
  text-align: center;
  margin: 50px;
}

.nav ul {
  margin: 0;
  padding: 0;
}

.nav li {
  list-style: none;
  display: inline;
  padding-left: 20px;
}

.nav li:hover {
  color: var(--primary-color);
  transition: all 150ms ease-in-out;
}
