.navbar {
  justify-content: space-between;
  font-weight: bold;
  text-align: center;
  margin-top: 25px;
}

.navbar ul {
  margin: 0;
  padding: 0;
}

.navbar li {
  list-style: none;
  display: inline;
}

.navbar li:hover {
  color: var(--primary-color);
  transition: all 150ms ease-in-out;
}
