.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem 6rem 3rem;
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0;
}

.container::before {
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.container::after {
  width: 240px;
  height: 180px;
  z-index: -1;
}

.container::before,
.container::after {
  content: "";
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.center {
  text-align: center;
}

.contributeLink {
  padding: 18px 46px;
  background: var(--button-background);
  color: var(--white-color);
  border-radius: var(--border-radius);
  font-weight: bold;
}

.nameLink {
  display: block;
  justify-content: center;
  align-items: center;
  padding: 24px;
  margin-left: 16px;
  transform: translateZ(0);
  border-radius: var(--border-radius);
  overflow: hidden;
  background: var(--button-background);
  color: var(--white-color);
}

.contributeLink:hover,
.nameLink:hover {
  background: var(--button-background-hover);
  border: 2px solid var(--button-dark-hover);
  color: var(--button-dark-hover);
  transition: all 150ms ease-in-out;
}

.logoContainer {
  margin-bottom: 24px;
}

.home {
  margin: 100px 0px 150px;
}

.about {
  margin: 200px 0px;
}

.about .logo {
  margin-bottom: 24px;
  width: 100px;
  height: 100px;
}

.footer {
  margin-top: 100px;
  padding: 20px auto;
}

.footer a {
  font-size: 24px;
  color: var(--primary-color);
  padding: 12px;
}

.footer a:hover {
  color: var(--black-color);
  transition: all 150ms ease-in-out;
}
@media (prefers-color-scheme: dark) {
  .logo path {
    fill: var(--white-color);
  }
}

.description p {
  margin: 0 auto;
  padding: 24px 0 48px;
  max-width: 500px;
}

/* Mobile and Tablet */
@media (max-width: 1023px) {
  .container::before {
    transform: none;
    height: 300px;
  }
}
