.center {
  text-align: center;
  padding: 2rem;
}

.description p {
  margin: 0 auto;
  padding: 24px 0 48px;
  max-width: 500px;
}

.heroBorder {
  border: none;
  border-top: 1px var(--black-color) solid;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  .heroBorder {
    border-top: 1px var(--white-color) solid;
  }
}
