.memberspage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.center {
  text-align: center;
}

@media (max-width: 628px) {
  .memberspage img {
    width: 130px;
    height: 130px;
  }
}


