.membersPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  text-align: center;
  padding-top: 80px;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}

.heading {
  margin-bottom: 48px;
}

@media (max-width: 640px) {
  .center {
    padding-top: 48px;
  }

  .heading {
    margin-bottom: 32px;
  }
}
