.avatars_social_links {
  margin-top: 10px;
}

.avatars_social_links a {
  padding: 12px;
  font-size: 18px;
}

.avatars_social_links a:hover {
  color: var(--primary-color);
  transition: all 150ms ease-in-out;
}
