.about {
  margin: 0 auto;
  max-width: 500px;
  padding: 100px 0;
}

.description {
  padding: 18px 0 48px;
}

.contributeLink {
  padding: 18px 46px;
  background: var(--button-background);
  color: var(--white-color);
  border-radius: var(--border-radius);
  font-weight: bold;
}

.contributeLink:hover {
  background: var(--button-background-hover);
  border: 2px solid var(--button-dark-hover);
  color: var(--button-dark-hover);
  transition: all 150ms ease-in-out;
}

@media (max-width: 550px) {
  .contributeLink {
    padding: 18px 33px;
  }
}
